* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: url('bg.jpg') center/cover fixed;
    min-height: 100vh;
    color: #fad9d9;
    font-size: 18px;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10%;
}

.hero-text h1 {
    font-size: 60px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.hero-text h1 span {
    color: #8a4c55;
    font-weight: 700;
}

.hero-text p {
    font-size: 40px;
    margin-bottom: 15px;
    max-width: 420px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.hero-text button {
    padding: 20px 30px;
    border: none;
    background: #9c0f26;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}

.hero-text button:hover {
    background: #683636;
    color: #5e1923;
}

.hero-img img {
    width: 260px;
    border-radius: 20px;
    filter: drop-shadow(0 10px 20px rgba(0,0,0,0.4));
}

/* SECTION BASE */
.section {
    padding: 40px 10%;
}

/* CARD */
.card {
    background: rgba(255, 255, 255, 0.507);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 25px;
    margin-bottom: 20px;
    color: #ad4646;
    font-size: 18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    border: 1px solid rgba(255,255,255,0.3);
}

/* GRID */
.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* TITLES */
h2 {
    margin-bottom: 12px;
    border-left: 5px solid #ff6b81;
    padding-left: 10px;
    font-size: 32px;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

/* ALBUM MODAL */
.album-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
}

.album-modal.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: rgba(59, 31, 31, 0);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 40px;
    max-width: 1000px;
    max-height: 95vh;
    width: 90%;
    height: auto;
    position: relative;
    text-align: center;
    border: 1px solid rgb(97, 63, 63);
    box-shadow: 0 20px 40px rgba(128, 56, 56, 0.4);
    color: #fad9d9;
    overflow-y: auto;
}

.close {
    position: absolute;
    top: 15px;
    right: 25px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.close:hover {
    color: #ff6b81;
}

.album-gallery img {
    width: calc(50% - 10px);
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    margin: 10px 5px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.album-gallery img:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .album-gallery {
        grid-template-columns: 1fr;
    }
    .album-gallery img {
        width: 100%;
        margin: 10px 0;
    }

}
